.blue-sky {
  /* width: 100%;
  height: 1000px; */
  width: 100vw;
  height: 100vh;
  background: skyblue top left no-repeat;
  background-size: 100% 100%;
  margin: auto;
  position: relative;
}

.cloud {
  width: 350px;
  height: 200px;
  position: absolute;
  background: transparent url(image/cloud.png) 0 0 no-repeat;
}

.firstcloud {
  animation: cloud linear 25s infinite;
  top: 100px;
  z-index: 100;
}

.secondcloud {
  animation: cloud linear 35s infinite; /* animation-iteration-count: infinite;
  animation-name: cloud;
  animation-duration: 35s;
  animation-timing-function: linear; */
  top: 240px;
  z-index: 200px;
}

.thirdcloud {
  animation: cloud linear 45s 1s infinite backwards;
  top: 200px;
  z-index: 150px;
}
img {
  /* margin: 200px 20px 400px 20px; */
  animation: slidein 8s linear;
}

@keyframes cloud {
  from {
    transform: translateX(-255px);
  }
  to {
    transform: translateX(1350px);
  }
}

@keyframes slidein {
  0% {
    transform: translatey(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}

@keyframes fadein {
}
